<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>PicaltiJEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestJDBC</display-name>
    <servlet-name>TestJDBC</servlet-name>
    <servlet-class>com.JDBC.MYSQL.TestJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJDBC</servlet-name>
    <url-pattern>/TestJDBC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllUserServlet</display-name>
    <servlet-name>AllUserServlet</servlet-name>
    <servlet-class>com.picalti.interfaces.AllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUserServlet</servlet-name>
    <url-pattern>/AllUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Register_Servlet</display-name>
    <servlet-name>User_Register_Servlet</servlet-name>
    <servlet-class>com.picalti.interfaces.User_Register_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Register_Servlet</servlet-name>
    <url-pattern>/User_Register_Servlet</url-pattern>
  </servlet-mapping>
</web-app>